<h3>会員一覧</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= link_to c.last_name + c.first_name, admin_customer_path(c.id) %></td>
      <td><%= c.email %></td>
      <td>
        <% if c.is_deleted %>
          退会
        <% else %>
          有効
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>