<h3>注文履歴詳細</h3>
<h3>注文内容</h3>
<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.price * order_detail.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>